<!DOCTYPE html>
<html lang="en" data-ng-app="galleryApp">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free photo gallery">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Denys Maruzhenko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <!-- Main css file -->
    <link rel="stylesheet" type="text/css" href="../css/styles.min.css">

    <!-- Angular libs -->
    <script src="../js/assets.min.js"></script>
    <!-- Main js file -->
    <script src="../js/script.min.js"></script>

</head>

<body data-ng-controller="mainController">
    <div class="overlay-all overlay-fade" data-ng-if="overlay">
        <span class="lnr lnr-chevron-left" data-ng-click="closeOverlay()" title="Back"></span>
    </div>
    <header>
        <nav class="header-navigation">
            <a href="#!random" class="color-gradient" data-ng-class="isActiveRoute('/random')">
                <div>
                    <span class="lnr lnr-question-circle"></span>
                </div>
                random
            </a>
            <a href="#!home" class="logo" data-ng-class="isActiveRoute('/home')">
                Gallery
                <div class="logo-descript">Just pictures, and fun</div>
            </a>
            <a href="#!favorites" class="color-red" data-ng-class="isActiveRoute('/favorites')">
                <div>
                    <span class="lnr lnr-heart"></span>
                </div>
                favorites
            </a>
        </nav>
    </header>
    <main data-loading>
        <div class="main-section">
            <ng-view></ng-view>
        </div>
    </main>

</body>

</html>
