$header-image-url : 'https://picsum.photos/id/716/1200/300';

$color-gray: gray;
$color-light-gray: #e6e6e6;

$color-red: #c70000;
$color-light-red: #ff6262;

$color-black: #000;
$color-dark-default: #000000de;

$color-violet: #f99aff;
$color-purple: #883eff;
$color-light-purple: #f562ff;

$color-blue: #1883a7;
$color-light-blue: #48b8dd;

$color-green: #3cbf94;
$color-light-green: #8ee0c5;

$border-light: #eee;
$box-shadow-light: #f9f9f9;
