<ng-container data-ng-if="photosUrl.length > 0" class="fade">
    <div class="photo-section" data-ng-repeat="url in photosUrl" data-ng-init="photosUrl = []">
        <ng-container data-ng-click="zoomImage($event, url)">
            <img data-ng-src="{{ url | setSize: 300 }}" src="#" alt="Favorite photo" class="allow-transition">
        </ng-container>
    </div>
</ng-container>
<div class="no-data color-default" data-ng-if="!photosUrl.length">
    No favorite photos found.
</div>
