<ng-container data-ng-if="photos.length > 0" class="fade">
    <div class="submenu-wrapper" id="pagination-anchor">
        <div class="toggle-photo-view no-user-select" title="Change display view" data-ng-click="toggleView()" data-ng-if="displayViewSizes.length && displayViewSizes.length != 1"
        data-ng-class="toggleSize == 2 ? 'ico-more' : 'ico-less' ">
            <div class="submenu-header">Change display view:</div>
            <span class="lnr lnr-picture" data-ng-repeat="size in displayViewSizes track by $index"
            data-ng-class="currentSize == size ? 'active' : ''"></span>
        </div>
        <div class="number-settings-wrapper no-user-select">
            <div class="submenu-header">Number of photos on the page:</div>
            <span class="num-photo" data-ng-class="isActiveCount(10)" data-ng-click="setActiveCount($event, 10)">10</span>
            <span class="num-photo" data-ng-class="isActiveCount(30)" data-ng-click="setActiveCount($event, 30)">30</span>
            <span class="num-photo" data-ng-class="isActiveCount(100)" data-ng-click="setActiveCount($event, 100)">100</span>
        </div>
    </div>
    <div class="pagination-wrapper">
        <div class="pag-item no-user-select" data-ng-if="currentPage != 1" data-ng-click="changePage(increment = false)">
            <span class="lnr lnr-arrow-left pag-icon"></span>
            <span class="pag-text">Previous</span>
        </div>
        <div class="pag-item no-user-select" data-ng-click="changePage(increment = true)" data-ng-if="currentPage<10">
            <span class="pag-text">Next</span>
            <span class="lnr lnr-arrow-right pag-icon"></span>
        </div>
    </div>
    <div class="photo-section" data-ng-repeat="photo in photos" data-ng-init="photos = []">
        <div>
            <ng-container data-ng-click="zoomImage($event, photo.download_url)" class="fade">
                <img data-ng-src="{{ photo.download_url | setSize:currentSize }}" src="#" alt="Photo, author - {{photo.author}}, link - {{photo.url}}" class="allow-transition">
            </ng-container>
        </div>
        <div class="photo-description">
            <span class="photo-author w-80">
                <a ng-href="{{photo.url}}" href="#" target="_blank">
                    {{ photo.author }}
                </a>
            </span>
            <span class="lnr lnr-heart color-default w-10 no-user-select" data-ng-class="isFavorite(photo.id)"
            data-ng-click="toggleFavorite($event, photo.id)"></span>
        </div>
    </div>
    <div class="pagination-wrapper">
        <div class="pag-item no-user-select" data-ng-if="currentPage != 1" data-ng-click="changePage(increment = false)">
            <span class="lnr lnr-arrow-left pag-icon"></span>
            <span class="pag-text">Previous</span>
        </div>
        <div class="pag-item no-user-select" data-ng-click="changePage(increment = true)" data-ng-if="currentPage<10">
            <span class="pag-text">Next</span>
            <span class="lnr lnr-arrow-right pag-icon"></span>
        </div>
    </div>
</ng-container>
<div class="no-data color-default" data-ng-if="!photos.length">
    Loading...
</div>
