<div class="get-rand-photo-wrapper">
    <span class="get-another-random color-gradient" ng-click="init()">
        <span class="lnr lnr-sync"></span>
        Get another random photo
    </span>
</div>

<ng-container ng-if="randPhoto" class="fade">
    <div class="photo-section">
        <ng-container ng-click="zoomImage($event, randPhoto.download_url)">
            <img ng-src="{{ randPhoto.download_url | setSize:500 }}" alt="Photo, author - {{randPhoto.author}}, link - {{randPhoto.url}}" class="allow-transition">
        </ng-container>
        <div class="photo-description">
            <span class="photo-author w-80">
                <a href="{{randPhoto.url}}" target="_blank">
                    {{ randPhoto.author }}
                </a>
            </span>
            <span class="lnr lnr-heart color-default w-10 no-user-select" ng-class="isFavorite(randPhoto.id)"
                ng-click="toggleFavorite($event, randPhoto.id)"></span>
        </div>
    </div>
</ng-container>

<div class="no-data color-default" ng-if="!randPhoto">
    Loading...
</div>